<section class="container dashboard-container p-3" data-current-user="{{currentUserId}}">
    {{#if decks.length}}
        <h2 class="text-center mb-3 display-4">Your Decks</h2>
        <div class="row p-3">
            {{#each decks as |deck|}}
                {{>deck-partial deck}}
            {{/each}}
        </div>
    {{else}}
        <h2>You have not created any decks</h2>
    {{/if}}
</section>

<script src="/javascript/dashboard.js"></script>