<div id="titleHolder">
  <h2 id="deckTitle">{{deckTitle}}</h2>
</div>

<div>
  <div class="d-none" id="deckID">{{id}}</div>
  <div class="d-none" id="authBool">{{loggedIn}}</div>
  <div class="d-none" id="flashcardArr">{{flashcards}}</div>
  <div class="deck-card">
    <div class="content">
      <div class="front">
        <div id="cardFront">
            {{!-- Card Front Text --}}
        </div>
      </div>
      <div class="back">
        <div id="cardBack">
        {{!-- Card Back Text --}}
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex" id="buttons">
    <button class="btn btn-secondary" id="prevBtn">Previous</button>
    <button class="btn btn-secondary" id="nextBtn">Next</button>
  </div>
</div>

<script type="application/javascript" src="/javascript/loadCard.js"></script>
