<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
<style>
    html,
    body {
        position: relative;
        height: 100%;
    }

    body {
        background: #eee;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
    }

    .swiper {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .swiper-slide {
        padding: 60px;
        background-position: center;
        background-size: cover;
        width: 300px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid;
        border-width: 1px;
        font-size: 60px;
    }
</style>
</head>

<body>
    <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Card Slides -->
            <div class="swiper-slide">HTML</div>
            <div class="swiper-slide">Git</div>
            <div class="swiper-slide">CSS</div>
            <div class="swiper-slide">JavaScript</div>
        </div>

        <!-- navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script>
    const swiper = new Swiper('.swiper', {
        // Optional parameters
        effect: "coverflow",
        loop: true,

        // Navigation arrows
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },

    });
</script>

</html>