<form class="d-flex justify-content-around login-form" id="loginForm">
    <div class="border border-primary rounded p-4 m-3">
        <h2 class="text-center m-2">Login</h3>
        <div class="form-group m-2">
            <label id="username">Username</label>
            <input type="text" name="username" class="form-control" id="username-login">
        </div>
        <div class="form-group m-2">
            <label id="password">Password</label>
            <input type="password" name="password" class="form-control" id="password-login">
        </div>
        <div class="text-center">
            <input type="submit" value="Submit"/>
        </div>
        <br>
        <div>
            <label>Don't have an account? <a href="/signup">Sign Up Here</a></label>
        </div>
    </div>
</form>

<script src="/javascript/login.js"></script>