<form class="d-flex justify-content-around signup-form">
    <div class="border border-dark rounded p-4 m-3">
        <h2 class="text-center m-2">Sign Up</h3>
        <div class="form-group m-2">
            <label id="userLabel">Username</label>
            <input id="username-signup" type="text" name="username" class="form-control">
        </div>
        <div class="form-group m-2">
            <label id="passLabel">Password</label>
            <input id="password-signup" type="password" name="password" class="form-control">
        </div>
        <div class="text-center"> 
            <input type="submit" value="Submit"/>
        </div>
        <br>
        <div>
            <label>Already have an account? <a href="/login">Login Here</a></label>
        </div>
    </div>
</form>

<script src="/javascript/signUp.js"></script>