:root {
  --primary-color: #ff8d02;
  --secondary-color: #0c0c0c;
}


* {
    box-sizing: border-box;
  }
  
  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #999D9E;
    background-image: url(/assets/imgs/black-white-bg-2.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  body {
    font-family: "DM Sans", sans-serif;
    transition: background 0.4s ease-in;  
  }

  
  .blue {
    background-color: #428aa6;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  /* .homepage-card {
    position: absolute;
    width: 60%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform 0.4s ease;
    cursor: pointer;
  }
  
  .homepage-container {
    width: 100%;
    max-width: 800px;
    max-height: 600px;
    height: 100%;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .cards {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
  } */
  
  img {
    width: 80%;
    height: 80%;
    border-radius: 10px;
    object-fit: cover;
    max-width: 800px;
    max-height: 600px;
  }
/*   
  #item-1:checked ~ .cards #deck-3,
  #item-2:checked ~ .cards #deck-1,
  #item-3:checked ~ .cards #deck-2 {
    transform: translatex(-40%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
  }
  
  #item-1:checked ~ .cards #deck-2,
  #item-2:checked ~ .cards #deck-3,
  #item-3:checked ~ .cards #deck-1 {
    transform: translatex(40%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
  }
  
  #item-1:checked ~ .cards #deck-1,
  #item-2:checked ~ .cards #deck-2,
  #item-3:checked ~ .cards #deck-3 {
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 1;
  
    img {
      box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
    }
  }
   */
  .centered {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
  }

  a {
    text-decoration: none;
    color: white;
  }

  a:hover {
    color: white;
  }

  a .nav-link {
    color: white;
  }

  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: -150px;
  }
#nextBtn {
  position: absolute;
  display: flex;
  top: 80%;
  right: 25%;
}

#prevBtn {
  position: absolute;
  display: flex;
  top: 80%;
  left: 25%;
}

.deck-card {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 300px;
  height: 300px;
  margin: -150px;
  float: left;
  perspective: 500px;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);

  transition: transform 1s;
  transform-style: preserve-3d;
}

.card:hover .content {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  line-height: 300px;
  color: #03446A;
  text-align: center;
  font-size: 25px;
  border-radius: 5px;
  backface-visibility: hidden;
}

.back {
  background: #03446A;
  color: white;
  transform: rotateY( 180deg );
}

#homepageCarousel {
  margin-top: 9%;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}