* {
    box-sizing: border-box;
  }
  
  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  
  body {
    font-family: "DM Sans", sans-serif;
    transition: background 0.4s ease-in;
    background-color: #c394f8;
  
  }

  
  .blue {
    background-color: #428aa6;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  .homepage-card {
    position: absolute;
    width: 60%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform 0.4s ease;
    cursor: pointer;
  }
  
  .homepage-container {
    width: 100%;
    max-width: 800px;
    max-height: 600px;
    height: 100%;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .cards {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
  }
  
  img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
  }
  
  #item-1:checked ~ .cards #deck-3,
  #item-2:checked ~ .cards #deck-1,
  #item-3:checked ~ .cards #deck-2 {
    transform: translatex(-40%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
  }
  
  #item-1:checked ~ .cards #deck-2,
  #item-2:checked ~ .cards #deck-3,
  #item-3:checked ~ .cards #deck-1 {
    transform: translatex(40%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
  }
  
  #item-1:checked ~ .cards #deck-1,
  #item-2:checked ~ .cards #deck-2,
  #item-3:checked ~ .cards #deck-3 {
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 1;
  
    img {
      box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
    }
  }
  