:root {
  --primary-color: #ff8d02;
  --secondary-color: #0c0c0c;
}


* {
    box-sizing: border-box;
  }

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #999D9E;
  background-image: url(/assets/imgs/black-white-bg-2.png);
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  font-family: 'Quicksand', sans-serif;
  transition: background 0.4s ease-in;
}


.blue {
  background-color: #428aa6;
}

input[type="radio"] {
  display: none;
}

img {
  width: 80%;
  height: 80%;
  border-radius: 10px;
  object-fit: cover;
  max-width: 800px;
  max-height: 600px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: white;
}

a .nav-link {
  color: white;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: -150px;
}

#nextBtn {
  position: absolute;
  display: flex;
  top: 80%;
  right: 25%;
}

#prevBtn {
  position: absolute;
  display: flex;
  top: 80%;
  left: 25%;
}

#titleHolder {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  left: 40%;
}

#cards-div {
  margin-top: 1%;
}

#deckTitle {
  display: flex;
  color: white;
  background:black;
  border-radius: 25px;
  padding-left:15px;
  padding-right:15px;
  margin: 15px;
  text-align: center;
}

.deck-card {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 400px;
  height: 200px;
  margin: -200px;
  margin-top: -90px;
  float: left;
  perspective: 500px;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);

  transition: transform 1s;
  transform-style: preserve-3d;
}

.deck-card:hover .content {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

.front,
.back {
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  background: black;
  color: white;
  text-align: center;
  font-size: 25px;
  border-radius: 5px;
  backface-visibility: hidden;
}

#cardFront {
  width: 100%;
  text-align: center;
  vertical-align: middle;
  font-size: 25px;
  border-radius: 5px;
  padding: 10px;
  backface-visibility: hidden;
}

#cardBack {
  width: 100%;
  text-align: center;
  vertical-align: middle;
  font-size: 25px;
  border-radius: 5px;
  backface-visibility: hidden;
}

.back {
  background: grey;
  color: white;
  transform: rotateY( 180deg );
}

#homepageCarousel {
  margin-top: 1%;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.card-img-top {
  height: 100%;
}

.dashboard-container {
  margin-top: 1%;
}

.delete-btn, .favBtn {
  text-decoration: none;
  color: white;
}

.delete-btn:hover, .favBtn:hover {
  color: white;
}

.favBtn:hover {
color: orange;
}

.favBtn-position {
  margin-top: 800%;
}

.favBtnOn {
  color: orange;
}

.logo {
  width: 15%;
  height:10%;
}

.justify-content-around {
  justify-content: space-around !important;
  margin-top: 1%;
}
